/bin/
/node_modules/
*/node_modules/
hcs_1/hcs-sys-public/req-handler-container/node_modules/
hcs-sys-public/config.ts
hcs-sys-public/hcs-gw-key.pem
hcs-sys-public/hcs-gw-key.yaml
hcs-sys-platform/log-aggregator/node_modules/
hcs-sys-platform/.vscode
hcs_1/hcs-sys-private/legacy-container/node_modules/
hcs-sys-private/.vagrant
hcs-sys-private/token.yaml
.vagrant
.vagrant/
.vscode
.vscode/
wg0.conf
hosts
hcs_2/hcs-sys-private-2/legacy-container/node_modules/
hcs_2/hcs-sys-public-2/req-handler-container/node_modules/
hcs-sys-public-gcp
secret.json
tmp/